
body {
    
}

#backgroundImage { position: fixed; top: 0; left: 0; z-index:0; }
.bgwidth { width: 100%; }
.bgheight { height: 100%; }

#Contents {
    width:100px;
    height:200px;
    border: solid 1px red;
    position: fixed;
    top:0;
    left: 0;
    z-index: 1;
    overflow-y:scroll;
}
